*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
#root{
    overflow-x: hidden;
    background: rgb(244, 244, 244);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    min-height: 83vh;
}
footer{
    margin-top: auto;
    height: 10vh;
    background-color: #000;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    margin: 0 auto;
    max-width: 1320px;
}
.link_a{
    text-decoration: none;
    color: inherit;
}
.link_a:hover{
    color: inherit;
}
.linkNav{
    margin-right: 1.4rem;
    color: #9B9D9E;
    display: flex;
    align-items: center;
}
.linkNav:hover{
    color: #646667;

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cordLogo{
    margin: 0 auto;
    display: block;
}
.listUser{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}

.imgList{
    max-height: 500px;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.listUser img{
    width: 100%;
}
.carusel{
    max-height: 780px;
    overflow: hidden;
}
.carusel div{
    width: 100%;
}
.caruselIMG{
    background-size: cover;
    width: 100%;
}
.cardCarusel {
    position: absolute;
    text-align: center;
    max-width: 44vh ;
}
.lastRequest{
    margin-top: 9vh;
    margin-bottom: 7vh;
    flex-direction: column;
}
.lastRequest h2{
    margin-bottom: 6vh;
    font-size: 36px;
}
h2{
    font-size: 36px;
}
.lastRequest ul{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
    align-items: center;
}
.lastRequest ul li{
    list-style: none;
    min-height: 30vh;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 11px 0px #00000026;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6vh;
    overflow: hidden;
}
.lastRequest ul li div{
    width: 50%;
}

.lastRequestImg img{
    box-shadow: -3px 0px 3px 0px #00000036;
    background-size: cover;
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.selfCardLastRequest div{
    display: flex;
    flex-direction: column;
    background-color: unset;
}
.selfCardRequests div img{
    box-shadow: 0px 3px 3px 0px #00000036;
}
.selfCardRequests{
    padding-bottom: 6vh;
    width: 80%;
    margin: 0 auto;
}
.toast{
    position: absolute;
}
.catygoryTable{
    margin-top: 18vh; 
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
}
.catygoryTable h2{
    margin-bottom: 3rem;
}
.changeRequests h2{
    text-align: center;
    margin: 11vh 0 3vh 0;
}
.marginBread nav{
    margin: 3vh 0 2vh 0;
}
.cardCarusel .card-body{
    padding: 6vh;
}
.controlCategory{
    margin-top: 18vh;
}
.auth .card{
    padding: 2vh;
    min-width: 38rem;
}
.minWCreate{
    min-width: 700px;
}
@media screen and (max-width: 400px) {
    .carousel {
        display: none;
    }
     .cardCarusel{
        position: static;
        margin-top: 2vh;
    }
    .cardCarusel .card-body{
        padding: 3vh;
    }
    .lastRequest{
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    .lastRequest h2{
        font-size: 29px;
        text-align: center;
    }
    .lastRequest ul li{
        flex-direction: column;
    }
    .lastRequest ul li div{
        width: 100%;
    }
    .catygoryTable{
        margin-top: 6vh;
    }
    .navbar-nav a, .navbar-nav{
        margin: unset;
        display: block;
        margin-top: 1rem;
        text-align: center;
    }
    .link_a, .linkNav{
        margin-right: 0;
    } 
    .controlCategory{
        margin-top: 6vh;
    }
    .auth .card{
        padding: 2vh;
        min-width: 10rem;
    }
    .minWCreate{
        min-width: auto;
    }
}